<div class="my-5 d-flex flex-row justify-content-around">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <img class="metodosPagos-image" src="../../../assets/tarjeta-de-credito.png"/>
    <p class="metodosPagos-parrafo">
Tarjeta de credito
  </p>
</div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <img class="metodosPagos-image" src="../../../assets/tarjeta-de-debito.png"/>
    <p class="metodosPagos-parrafo">
Tarjeta de debito
  </p>
</div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <img class="metodosPagos-image" src="../../../assets/dinero.png"/>
    <p class="metodosPagos-parrafo">
      Efectivo
  </p>
</div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <img class="metodosPagos-image" src="../../../assets/paypal.png"/>
    <p class="metodosPagos-parrafo">
      Paypal
  </p>
</div>
</div>
