  <div class="ofertas-card" *ngFor="let ofertas of ofertas">
    <div class="ofertas-card-img">
      <img class="ofertas-card-imagen" [src]="ofertas.image" alt="Imagen">
    </div>
    <div class="ofertas-card-info">
      <span class="ofertas-text-title">{{ofertas.title}}</span>
    </div>
    <div class="ofertas-card-footer">
    <span class="ofertas-text-title">${{ofertas.price}}</span>
    <div class="ofertas-card-container-button">
      <button class="ofertas-card-button">
        <i class="fa-solid fa-cart-shopping"></i>
      </button>
    </div>
  </div>
  </div>