<!--  <div class="card my-5 card-container"  *ngFor="let producto of productos">
  <div class="card-header bg-primary">
    <h5 class="card-header-text text-dark text-center">{{producto.title}}</h5>
  </div>

      <div>
        <div>
          <img class="card-imagen" [src]="producto.image" alt="Imagen">
        </div>
      </div>
      <div class="card-footer text-dark">
       <p>{{producto.price}}</p>
      </div>
    </div>
 -->


  <div class="card" *ngFor="let producto of productos">
    <div class="img">
      <img class="card-imagen" [src]="producto.image" alt="Imagen">
    </div>
    <div class="card-header">
      <h5 class="card-header-text text-light text-center my-2">{{producto.title}}</h5>
    </div>
<div class="card-header-parrafo">
  <p class="text-light my-2 text-center">${{producto.price}}</p>
</div>
  </div>
