  <div class="productos-card" *ngFor="let producto of productos">
  <div class="productos-card-img">
    <img class="productos-card-imagen" [src]="producto.image" alt="Imagen">
  </div>
  <div class="productos-card-info">
    <span class="productos-text-title">{{producto.title}}</span>
  </div>
  <div class="productos-card-footer">
  <span class="productos-text-title">${{producto.price}}</span>
  <div class="productos-card-container-button">
    <button class="productos-card-button">
      <i class="fa-solid fa-cart-shopping"></i>
    </button>
  </div>
</div>
</div>