<mat-toolbar class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">
        <img class="navbar-logo" src="../../../assets/Logo2.png"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-dark" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Envios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Nosotros</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categorias</a>
            <div class="dropdown-menu">
              <a class="dropdown-item text-dark" href="#">Jean</a>
              <a class="dropdown-item text-dark" href="#">Shirts</a>
              <a class="dropdown-item text-dark" href="#">Jewerly</a>
            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0 text-light" type="submit">Search</button>
        </form>
      </div>
    </div>
</mat-toolbar>
