.footer-dark{
background-color: var(--colorDark) !important;
}
.footer-container {
 display: flex;
 justify-content: center;
}

.footer-content{
  color:var(--colorLight);
  font-family: var(--tipografiaParrafos);
}
